body {
  margin: 0;
  padding: 0;
}



/*--------------TOP CONTAINER----------------*/

.top-container {
  background-color: #499aa3;
}

.tc-words {
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.p1 {
  width: 20rem;
  padding: 0.5rem 5rem 0.5rem;
}

.p2 {
  font-weight: 100;
}

/*--------------MIDDLE CONTAINER----------------*/

.middle-container {
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin: 1.5rem auto 10rem auto;
  display: inline-block;
  font-size: 4rem;
}

.feather {
  height: 10rem;
  width: auto;
  position: absolute;
}

.f1 {
  left: 20rem;
  transform: rotate(-60deg);
  top: 3.5rem;
}

.f2 {
  right: 20rem;
  transform: rotate(120deg);
  top: 1rem;
}


/* 
Nice work! -^ 
*/

/* Appearance */

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0.5px solid #499aa3;

}

.search-word {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0.5px solid;
  color: #499aa3;
}

.word-item {
  padding: 0rem 0.5rem;
  list-style: none;
}
