body {
  margin: 0;
  padding: 0;
}

/*--------------TOP CONTAINER----------------*/

.top-container {
  background-color: #499aa3;
}

.tc-words {
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.p1 {
  width: 20rem;
  padding: 0.5rem 5rem 0.5rem;
}

.p2 {
  font-weight: 100;
}

/*--------------MIDDLE CONTAINER----------------*/

.middle-container {
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin: 1.5rem auto 10rem auto;
  display: inline-block;
  font-size: 6rem;
  font-weight: 600;
  display: inline-block;
}

.input {
  margin-top: -5rem;
  font-size: 1.3rem;
  font-family: "poppins";
  font-weight: 200;
}
.input-field {
  font-family: "poppins";
  font-size: 1rem;
  width: 24rem;
  height: 2rem;
  border-radius: 4px;
  border-color: black;
}

.search-word {
  height: 2.4rem;
  width: 2.4rem;
  background-color: #499aa3;
  border: 0px;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
}

.fa-search {
  color: white;
}

/*--------------CHOICES CONTAINER----------------*/

.choices-container {
  margin-top: 0.5rem;
  font-family: "poppins";
}

table {
  display: inline-block;
  text-align: left;
}

/*-------------------RESULTS---------------------*/

.results-container {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.result-list-nouns {
  display: flex;
}

.wordresult {
  /*background-color: rgb(238, 250, 252);*/
  padding: 5px;
}

ul {
  list-style-type: none;
}

/*-------------------MODAL WINDOW---------------------*/
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-family: "poppins";
  font-size: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1.3rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/*MOBILE*/
@media (max-width: 900px) {
  h1 {
    font-size: 3.5rem;
  }
  .tc-words {
    font-size: 0.8rem;
  }
  .top-container {
    display: flex;
    flex-direction: column;
  }
  .tc-words {
    text-align: center;
    padding: auto;
    width: auto;
  }
  .input-field {
    width: auto;
  }
  td {
    display: block;
  }
  .results-container {
    display: block;
  }
}
